<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <h1 [style.background-color]="color" [innerHTML]="stupid"> -->
  <h1 [style.background-color]="color">
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>Quiz List</h2>

      <div class="list-group">
        <div *ngFor="let q of quizzes" class="list-group-item">
          {{ q.name }} 
          <span class="badge badge-secondary" [class.bg-danger]="q.numberQuestions == 0" >{{ q.numberQuestions }}</span>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      Foo
    </div>
  </div>
</div>

